.payment-page-container {
    background-color: rgb(220, 74, 74);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    position: relative;
}

.payment-page-container h2 {
    color: white;
    margin-bottom: 20px;
}

.payment-page-container .form-control {
    background-color: #f8f9fa;
    color: black;
}

.payment-page-container .form-label {
    color: white;
}

.payment-page-container {
    background-color: rgb(220, 74, 74);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    position: relative;
}

.payment-page-container h2 {
    color: white;
    margin-bottom: 20px;
}

